<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Реестр техники</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
    <h1>Виды техники</h1>
    <h2><a class="h2" th:href="@{/tv}">Телевизоры</a>
        <br/>
        <a class="h2" th:href="@{/hoover}">Пылесосы</a>
        <br/>
        <a class="h2" th:href="@{/fridge}">Холодильники</a>
        <br/>
        <a class="h2" th:href="@{/smartphone}">Смартфоны</a>
        <br/>
        <a class="h2" th:href="@{/computer}">ПК</a>
        <br/>
        <br/>
        <a class="h2" th:href="@{/categories/brands}">Полный список техники</a>
    </h2>
</div>
</body>
</html>
